* {
    margin: 0%;
    padding: 0%;
}
.li-a {
    padding-left: 50px;
    font-family: 'Inter';
}
.button-1:hover{
background-color: white;
color: #1955c4;
}
.login-a {
    padding-right: 33px;
    margin-left: 70px;
    font-family: 'Inter';
}
                                        /* navbar :end */
.text-box {
    height: 800px;
}
.text-box h1 {
    font-size: 75px;
padding-top: 100px;
}
.text-box h3 {
    padding-top: 50px;
}
.text-box button {
    
    margin-top: 70px;
    padding-left: 20px;
    padding-right: 20px;
}
                                          /* first box end  */
.main-card {
    bottom: 100px;
    max-width: 1100px
}
.card-body-text {
    text-align: left;
}
                                          /* second box :end */
.application-section button {
    padding: 15px 40px 15px 40px;
    margin-bottom: 75px;
}
                                          /* third box :end */
.application-development ul li {
    font-size: 40px;
    margin-top: 30px;
    list-style: none;
}

.application-development ul li span {
    border-radius: 80px;

}

.button-2{
    padding: 15px 40px 15px 40px;
margin-top: 50px;
}

.accelerate-1 {
    padding: 150px 0px 150px 0px;

}

.accelerate-1 h1 {
    font-size: 80px;
}

@media (max-width: 480px) { 
    .accelerate-1 h1 {
        font-size: 40px;
        
    }
 }
